:root {
  --bg-white: #f5f5f5;
  --ube-blue: #005b97;
  --navbar-color: #333;
  --text-white: #fff;
  --aboutme-black: #0e0e12;
  --text-header-black: #333;
  --text-para-black: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--bg-white);
}

.btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1rem;
}

ol,
ul {
  list-style: none;
}
